.wrapper {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    margin: 30px;
    padding: 10px;
  }

.messages {
    order: 2;
    width: 70%;
    margin: 5px 10px;
}
  
.sendmessages {
    order: 1;
  }

.sendmessage {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  padding: 10px;
  /* width: 240px; */
  border-radius: 1em;
  background-color: lightblue;
  box-shadow: 0 1px 6px 0 gray;
  
}