input {
    width: 200px;
    margin: 3px 6px 3px 2px;
    padding: 3px;
    border: 1px 1px 0px 0px solid red;
    border-radius: 2px;
  }
  
  button {
    margin: 3px;
    border-radius: 6px;
  
  }

  button:hover {
      background-color: lightgreen;
  }