.modal-overlay {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    height:100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

}

.modal {
    display: block;
    width: 50vw;
    min-height: 50vh;
    background: white;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    border-radius: 5px;
    position: relative;
}

.modal-overlay.show {
    display: flex;
}

.close {
    cursor: pointer;
    float: right;
    padding: 1em;
    font-size: 1em;
    text-align:right;
    position: absolute;
    top:0;
    right: 0;
}
