.bigcontainer {
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 5px;
}

button:hover {
  border: 1px solid blue;
}

.home {
  flex: left;
  border: none;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 3px;
  background-color: lightgreen;
  border-radius: 0.4em;
}
  
.logout {
  flex: right;
  border: none;
  border-radius: 4px;
  padding: 3px;
  background-color: red;
  border-radius: 0.4em;
}

.userNavi {
  position: relative;
}
  
.user {
  position: absolute;
  right: 0%;
  left: 80%;
}