.error {
  color: red;
  font-weight: bold;
}

.navi {
  margin: 50px;
  padding: 30px;
}

a {
  text-decoration: none;
}

/* messagelist */

.messagebox {
  background-color: lightblue;
  margin: 10px;
  padding: 4px;
  border: 2px;
  border-radius: 1em;
  box-shadow: 0 1px 6px 0 gray;
}

.messagebox:hover {
  cursor: pointer;
  background-color: rgb(120, 173, 190);
}

.author {
  float: left;
  font-weight: bold;
  margin: 0px 5px;
  text-decoration: underline;

}


.date {
  float: right;
  font-style: italic;
  margin: 0px 5px;
}

.text {
  margin: 0px 5px;
}

input {
  width: 200px;
  margin: 3px;
  padding: 3px;
  border: 1px 1px 0px 0px solid red;
  border-radius: 2px;
}

textarea {
  width: 200px;
  height: 100px;
  margin: 3px;
  padding: 3px;
  border: 2px solid red;
  border-radius: 3px;
}

button {
  border-radius: 6px;

}

button:hover {
  background-color: lightgreen;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */