
body {
  background-color: rgb(241, 241, 241);

}.error {
  color: red;
  font-weight: bold;
}

.navi {
  margin: 0px 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* messagelist */

.messagebox {
  background-color: lightblue;
  margin: 10px;
  padding: 4px;
  border: 2px;
  border-radius: 1em;
  box-shadow: 0 1px 6px 0 gray;
  width: 100%;
}

.messagebox:hover {
  cursor: pointer;
  background-color: rgb(120, 173, 190);
}

.author {
  float: left;
  font-weight: bold;
  margin: 0px 5px;
  text-decoration: underline;

}


.date {
  float: right;
  font-style: italic;
  margin: 0px 5px;
}

.text {
  margin: 0px 5px;
}

input {
  /* width: 200px; */
  margin: 3px;
  padding: 3px;
  border: 1px 1px 0px 0px solid red;
  border-radius: 2px;
}

textarea {
  width: 200px;
  height: 100px;
  margin: 3px;
  padding: 3px;
  border: 2px solid red;
  border-radius: 3px;
}

button {
  border-radius: 6px;
}

.signupclick {
  color: blue;
}

@media only screen and (max-width: 1080px) {
  .sendmessages{
    width: 70%;
  }

  .sendmessage{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sendmessages{
    width: 90%;
    margin: 0;
  }

  .sendmessage{
    width: 100%;
    margin: 0 !important;
  }

  .messages{
    width: 90% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .messagebox{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .modal{
    width: 90vw !important;
    height: 90vh !important;
  }
}