.navi {
  margin: 20px;
  padding: 20px;
  background-color: black;
}

.messages {
  margin: 20px;
  padding: 10px;
  background-color: pink;
}

.sendmessage {
  margin: 20px;
  background-color: lightgreen;
}

a {
  text-decoration: none;
}
.home {
  padding: 3px;
  float: left;
  background-color: lightgreen;
  border-radius: 0.4em;
}

.logout {
  padding: 3px;
  float: right;
  background-color: red;
  border-radius: 0.4em;
}

.user {
  float: right;
}

/* messagelist */

.messagebox {
  background-color: lightblue;
  margin: 10px;
  padding: 4px;
  border: 2px;
  border-radius: 1em;
  box-shadow: 0 1px 6px 0 gray;
}

.author {
  float: left;
  font-weight: bold;
  text-decoration: underline;

}


.date {
  float: right;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */